.body{
	width: 780px; 
	height: 500px;
	background-color: white;
	overflow-y: hidden;
	overflow-x: hidden;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 11px;
}

.button {
   border-top: 1px solid #96d1f8;
   background: #7acaff;
   background: -webkit-gradient(linear, left top, left bottom, from(#5ebaf7), to(#7acaff));
   background: -webkit-linear-gradient(top, #5ebaf7, #7acaff);
   background: -moz-linear-gradient(top, #5ebaf7, #7acaff);
   background: -ms-linear-gradient(top, #5ebaf7, #7acaff);
   background: -o-linear-gradient(top, #5ebaf7, #7acaff);
   border: 0;
   padding: 3.5px 7px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 10px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   width: 90px;
   }
   
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   overflow-x: hidden;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   
  .buttongreen {
   border-top: 1px solid #96d1f8;
   background: #429c3e;
   border: 0;
   padding: 3.5px 7px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 10px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   width: 90px;
   }
   
.buttongreen:hover {
   border-top-color: #005c00;
   background: #005c00;
   overflow-x: hidden;
   }
.buttongreen:active {
   border-top-color: #1A3E19;
   background: #1A3E19;
   }
   
   .buttonred {
   border-top: 1px solid #96d1f8;
   background: #c44343;
   border: 0;
   padding: 3.5px 7px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 10px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   width: 90px;
   }
   
.buttonred:hover {
   border-top-color: #991f00;
   background: #991f00;
   overflow-x: hidden;
   }
.buttonred:active {
   border-top-color: #631704;
   background: #631704;
   }
 
.textBox{
   font-size: 11px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   padding: 2.5px 6px;
 }
 
.hyperlink {
	cursor: pointer;
	border: 0;
	font-size: 20px;
	height: 20px;
	width: 20px
}

.urlButton {
   cursor: default;
   background: #ffffff;
   padding: 2.5px 6px;
   border-radius: 0px;
   color: #000000;
   font-size: 11px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   width: 400px;
   }
   
.urlButton:hover {
	overflow-x: hidden;
   border-color: transparent;
   background: #28597a;
   color: #ccc;
   }
.urlButton:active {
   background: #1b435e;
   }
   
.h2 {
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Orienta', sans-serif;
}
  
.h3 {
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Orienta', sans-serif;
}

.xbutton {
   border-top: 0px;
   background: #c44343;
   border: 0;
   padding: 2px 4px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 8px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.xbutton:hover {
   border-top-color: #781a1a;
   background: #781a1a;
   color: #ccc;
   }
.xbutton:active {
   border-top-color: #541111;
   background: #541111;
   }
   
  .xbuttongreen {
   border-top: 0px;
   background: #429c3e;
   border: 0;
   padding: 2px 4px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 8px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.xbuttongreen:hover {
   border-top-color: #214E1F;
   background: #214E1F;
   color: #ccc;
   }
.xbuttongreen:active {
   border-top-color: #1A3E19;
   background: #1A3E19;
   }
select{
	-moz-appearance: none;
	-webkit-appearance: none;
	border-color: grey;
}
