.body{
	width: 800px; 
	height: 300px;
	background-color: white;
	overflow-y: scroll;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 11px;
}

.button {
   border-top: 1px solid #96d1f8;
   background: #7acaff;
   background: -webkit-gradient(linear, left top, left bottom, from(#5ebaf7), to(#7acaff));
   background: -webkit-linear-gradient(top, #5ebaf7, #7acaff);
   background: -moz-linear-gradient(top, #5ebaf7, #7acaff);
   background: -ms-linear-gradient(top, #5ebaf7, #7acaff);
   background: -o-linear-gradient(top, #5ebaf7, #7acaff);
   border: 0;
   padding: 3.5px 7px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 10px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
 
.textBox{
   font-size: 11px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   padding: 2.5px 6px;
   border: 1;
 }
 
.hyperlink {
	cursor: pointer;
	border: 0;
	font-size: 20px;
	height: 20px;
	width: 20px
}

.urlButton {
   cursor: default;
   background: #ffffff;
   padding: 2.5px 6px;
   border-radius: 0px;
   color: #000000;
   font-size: 11px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   width: 400px;
   border: 1;
   }
.urlButton:hover {
   border: 1;
   border-color: transparent;
   background: #28597a;
   color: #ccc;
   }
.urlButton:active {
   background: #1b435e;
   }
   
.h2 {
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Orienta', sans-serif;
}
   